<?xml version="1.0" encoding="utf-8" ?>
	<configuration>
		<startup>
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
		</startup>
		<appSettings>
			<add key="VideoFramesApp" value="Z:\APTC-Developers\APTCE-Muhammad Motawe\Frame Extractor\Task1\bin\Release\Task1.exe"/>
			<add key="WinappDriverHost" value="http://127.0.0.1:4723"/>
			<add key="WinExplorer" value="C:\Windows\explorer.exe"/>
			<add key="Video.File.Path" value="Z:\APTC-ML\APTCE-Muhammad Motawe\VideoSynopsis\1123.mp4"/>
			<add key="Video.Browse.Name" value="Browse"/>
			<add key="VideoFilePath" value="Browse"/>
		</appSettings>
	</configuration>